*{
    padding: 0;
    margin: 0;
}
.header
{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(210, 94, 228, 0.7),rgba(83, 46, 219, 0.7)), url('images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

  
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-around;
    align-items: center;
}
nav img
{
    width: 150px;
}

.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}
.nav-links ul li::after
{
    content: "";
    width: 0%;
    background: red;
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after
{
   width: 100%;
}
.text-box
{
    width: 90%;
    top: 50%;
    left: 50%;
    position: absolute;
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
}
.text-box h1
{
    font-size: 63px;
}
.text-box p
{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.cool-btn
{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
}
.cool-btn:hover
{
     border: 1px solid rgb(253, 0, 0);
     background: red;
     transition: 0.8s;
}
nav .fa 
{
    display: none;
}

.offer h1
{
    margin-top: 60px;
    font-size: 30px;
    color: black;
    text-align: center;

}

.offer p
{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgb(48, 48, 48);
    text-align: center;

}

.options {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

.coffee,
.pastries,
.sandwiches
 {
    background-color: rgb(245, 227, 227);
    text-decoration:none;
    text-align: center;
    height: 90px;
    width: 30%;
    padding: 15px 20px;
    font-size: 13px;
    position: relative;
    margin: 20px;
    flex: 1;
    min-width: clamp(200px, 33.33vw, 300px);
    max-width: clamp(200px, 33.33vw, 400px);
}


.options h1{
    color: black;
}

.options p{
    color: rgb(114, 113, 113);
}

.coffee:hover
{
    box-shadow: 0 0 15px -2px grey;
    transition: 0.5s;

}

.pastries:hover
{
    box-shadow: 0 0 15px -2px grey;
    transition: 0.5s;

}

.sandwiches:hover
{
    box-shadow: 0 0 15px -2px grey;
    transition: 0.5s;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

.image-wrapper:hover .text {
    opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: normal;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

section {
    background-color: white;
  }
  
  .container2 {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .review {
    background-color: rgb(249, 234, 236);
    border-radius: 10px;
    padding: 20px;
    width: calc(60% - 10px);
    margin: 30px;
  }
  
  .review img {
    border-radius: 60%;
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 20px;
  }
  
  .review p {
    color: #6c757d;
    font-size: 16px;
    margin: 0 0 10px 0;
  }
  
  .name {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 70px;

  }
  
  .stars {
    color: #f00;
    margin-left: 70px;
  }
  



  .banner-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .banner {
    position: relative;
    max-width: 900px;
    overflow: hidden;
    border-radius: 10px; 
    margin-top: 30px; 
    margin-bottom: 30px; 
  }
  
  .banner img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -25%; 
    margin-bottom: -25%; 
    filter: brightness(0.4);
    border-radius: 10px; 
  }
  
  .banner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .banner-overlay h2 {
    font-size: 30 px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
  }
  
  

  .contact-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
  }
  
  .contact-button:hover {
    border: 1px solid rgb(253, 0, 0);
    background: red;
    transition: 0.8s;
  }
  
  
  
  .about-us {
    text-align: center;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .about-us h1 {
    font-weight: bold;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .social-media i {
    color: red;
    padding: 10px;
    cursor: pointer;
  }
  
  .social-media i:hover {
    transform: scale(1.2);
  }
  
  .copyright {
    text-align: center;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"], input[type="email"], select, textarea {
    margin-bottom: 10px;
    padding: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
textarea {
    height: 100px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}
button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0b4c0;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #f194a7;
}

.contact-background {
    background-image: url(images/about.jpg);
    background-size: cover;
    background-position: center;
  }
  
  
  form label, form label input[type="radio"], form label input[type="checkbox"] {
    color: black;
}


.contactt {
    padding: 15px;
    color: white;
}


/* ---------------Responsive Design------------------- */
@media (max-width: 700px) {
    .text-box height{
    font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }
    .nav-links ul
    {
        padding: 30px;
    }
    nav .fa
    {
        display: block;
        color: white;
        margin: 10px;
        cursor: pointer;
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }

    .coffee, .pastries, .sandwiches {
        height:120px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .image-wrapper {
        margin: 10px;

}
.container2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .review {
    width: 80%;
    margin: 10px 0;
  }

  @media only screen and (max-width: 700px) {
   
    .banner {
      max-width: 90%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .banner img {
      margin-top: -10%;
      margin-bottom: -10%;
    }
  
    .banner-overlay {
      text-align: center;
    }
  
    .banner-overlay h2 {
      font-size: 1.5rem;
    }
  
    .contact-button {
      font-size: 11px;
      padding: 8px 16px;
      margin-top: 5px;
    }
  }
  

}